/*h1, h2, h3, h4
{
    font-weight: bold;
}*/
.main
  { 
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(20,1fr);
    grid-auto-rows: repeat(100px, auto);
    grid-gap: 10px;
    margin-top: 100px;
    
   
}
.recipes
{
    grid-column: 1/4;
    background-color: #333;
    text-align: center;
    color: antiquewhite;
    padding: 15px;
    margin-top: 2px;
}
.dishes
{
    grid-column: 4/21;
    margin-top: 2px;
    /*grid-row: 1/7;*/
 
}
.article
{
    grid-column: 1/21;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.good_dishes
{
  
    grid-column: 1/21;
    /*grid-row: 7/11;*/
    /*background-color: red;*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card1
{
    /*grid-column:4/21;*/
    grid-row: 1/4;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
    
}
.card2
{
    /*grid-column:4/21;*/
    grid-row: 4/7;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}
.card
{
    width: 32%;
    height: auto;
}

.hl
{
    font-size: 45px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    color: rgb(187, 8, 8);
}
.ml
{
    font-size: 20px;
    font-weight: bold;
    list-style: none;
    margin-bottom: 3px;
}
.ml:hover
{
    font-size: 27px;
    color: red;
    text-shadow: 1px 1px 1px white;
}

/*****************************/
.ranking
{  
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    margin-bottom: 5px;
}
.pub_image
{
    width:150px;
    height: 120px;
    margin-bottom: 10px;
    border-radius: 55px;
}
.article
{
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 10px;
}
.mams_dishes
{
    display: block;
    text-align:center;
    width: 18%;
    height: 450px;
    margin-bottom: 50px;
    padding: 5px;
    background-color: rgb(248, 248, 243);  
    box-shadow:  7px 9px 33px -18px rgba(0,0,0,0.5);
}

.mams_dishes  p
{
    width:auto;
    height: 150px;
    font-family: cursive;
    font-size: 20px;
}  

div.title
{
    background-color: darkred;
    color: white;
    text-align: center;
    padding: 20px;;
}
div > h2
{
    font-family:cursive ;
    font-size: 50px;
}
.img_new_recipes
{
    width: 200px;
    height: 180px;
    border-radius: 100px;
}
article.epices
{
    margin-top: 10px;
    grid-column: 1/21;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding:25px;
    
}
article.epices > h2
{
    color: rgb(187, 8, 8);;
    font-weight: bold;
    font-style: italic;

}
article.epices > h4
{
    color: rgb(187, 8, 8);;
    font-weight: bold;
    font-style: italic;

}
strong
{
    color: rgb(187, 8, 8);;
}
